{% extends "base.html" %}

{% block style %}
<style>
img {
    cursor: pointer;
}

#draft_container {
    margin: auto;
    width: 1350px;
    display: none;
}

#list_container {
    display: none;
    z-index: -1;
    width: 228px;
    position: absolute;
}

#hero,
#gem {
    visibility: hidden;
}

#gem span.arena_text {
    font-size: 2.5em;
    position: absolute;
    top: 14px;
    left: 36px;
}

table#pack_table {
    display: none;
}

.arena_text#header2 {
    left: 205px;
}

.arena_text#info {
    font-size: 1.1em;
    width: 600px;
}

#rules li {
    padding-bottom: 5px;
}

.start {
    text-align: center;
    margin-top: 40px;
}

button#start {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 2em;
    width: 200px;
    cursor: pointer;
}

.pack_pick {
    width: 280px;
    margin-top: 30px;
}

.pack_pick:hover {
    padding: 3px 0 0 2px;
    margin: 0 -2px -3px 0;
    z-index: 10;
}

ul#draft_list {
    list-style-position: inside;
    list-style: none;
    font-size: 0.8em;
    padding: 0;
    margin-top: 1px;
    margin-left: 3px;
}

ul#draft_list li {
    background-color: #726358;
    color: #fff;
    font-weight: normal;
    border: 1px solid #222;
    border-radius: 3px;
    padding-top: 1px;
    width: 220px;
}

ul#draft_list li.no-pick {
    background-color: #ccc;
}

ul#draft_list li.warrior {background-color: #702116}
ul#draft_list li.shaman {background-color: #292f55}
ul#draft_list li.rogue {background-color: #3d3e42}
ul#draft_list li.paladin {background-color: #c07b23}
ul#draft_list li.hunter {background-color: #246521}
ul#draft_list li.druid {background-color: #6e411f}
ul#draft_list li.warlock {background-color: #503458}
ul#draft_list li.mage {background-color: #596896}
ul#draft_list li.priest {background-color: #b8bec1}

ul#draft_list li:before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(http://hs.jwd.me/static/gem.png);
    background-size: contain; 
    background-repeat: no-repeat;
    margin-top: 2px;
    vertical-align: middle;
}

span.card_cost {
    margin-left: -16px;
}

span.card_cost.offset {
    margin-left: -21px;
}

span.card_name {
    margin-left: 13px;
}

span.card_name.offset {
    margin-left: 11px;
}

.no-pick > span.card_cost {
    display: none;
}

.no-pick > span.card_name.offset {
    margin-left: 5px;
}

span.card_name.neutral { color: #fff; }
span.card_name.rare { color: #418eff; }
span.card_name.epic { color: #d155f9; }
span.card_name.legendary { color: #ffb024; }

</style>
{% endblock %}
{% block script %}
<script>

$(document).ready(function () {
    var timeout = 5000;
    var card_on_press = function(pick, pick_array){
         $("body").css("background-color", "#fff");
        slide_list();
        start_timer(0,pick_array);
        // immediately unbind the click event disabling more picks
 //       $(".pack_pick").click(function(){});
        $("ul#draft_list").empty();
        var data = {};
        var content = '';
        if (pick == 0) {
            data['card-id']     = '';
            data['name']        = 'Failed to pick card';
            data['pick-number'] = count;
            data['class']       = 'no-pick';
            data['rarity']      = '';
            data['cost']        = 99;       
        } else {
            data['card-id']     = pick.attr('data-id');
            data['name']        = pick.attr('data-name');
            data['pick-number'] = pick.attr('data-pick-number');
            data['class']       = pick.attr('data-class').toLowerCase();
            data['rarity']      = pick.attr('data-rarity').toLowerCase();
            data['cost']        = pick.attr('data-cost');
        }
        pick_array.push(data);
        pick_array.sort(function (a, b) {
            // sort callback
            if (parseInt(a['cost']) > parseInt(b['cost'])) {
                // if a is larger return 1
                return 1;
            } else if (parseInt(a['cost']) < parseInt(b['cost'])) {
                // if a is smaller return -1
                return -1;
            } else {
                // if a and b a are equal compare by their name
                // a earlier in th alphabet
                if (a['name'] < b['name']) return -1;
                // a later in the alphabet
                if (a['name'] > b['name']) return 1;                
                // same name and mana cost, equal
                return 0;
            }
        });
        $.each(pick_array, function(i, val) {
            var offset = '';
            if(val['cost'].toString().length > 1) {offset = 'offset'};
            content += '<li class="' + val['class'] + '">' + '<span class="card_cost ' + offset + '">' + val['cost'] + '</span><span class="card_name ' + val['rarity']+ ' ' + offset + '">' + val['name'] + '</span>';
            return_picks[i] = val;
        })
        $("ul#draft_list").append(content);        // if we are still making picks
        count +=1;
        if(count <= 30) {
            // update counter
            $("#count").html(count.toString());
            // hide/make sure all rows are hidden 
            $("tr.pack_row:nth-child(" + (count-1).toString() + ")").hide(0, function(){
                // show only the next row
                $("tr.pack_row:nth-child(" + count.toString() + ")").show(300, function(){
                    // once row is visible rebind card_on_press function
                    // $(".pack_pick").click = card_on_press
                })
            })
        } else {
            var end_time = $.now();
            var time_used = end_time - start_time;
            var game_id = "{{ game_id }}";
            var hero_class = "{{ hero_class }}";
            $.post("/draftdone",{ draft_class: hero_class, game_id: game_id, time_used: time_used, picks:  JSON.stringify(return_picks) }).done( function( response ) {
                window.location.replace( "http://hs.jwd.me/result/" + response );
            });
            // we are done making picks, game over
            $(".pack_row").hide(0, function(){
                $('#header2').html("GAME OVER")
            })
        }
    }
    var count = 1;
    var pick_array = [];
    var return_picks = {};
    var pick_numbers = [];
    var start_time = $.now();
    var timeout_id;
    var counter;
    
    function countdown() {
        clearInterval(counter);
        seconds = 5;
        grade = 9;
        $("#gem span.arena_text").html(seconds);
        counter = setInterval(function() {
            seconds--;
            $("#gem span.arena_text").html(seconds);
        }, 1000);        
    };
    
    function start_timer(pick, pick_array) {
        clearTimeout(timeout_id);
        countdown();
        timeout_id = setTimeout(function() {
            slide_list();
            card_on_press(pick, pick_array);
        }, 5000);
    }

    function slide_list()
    {
        if($('.pack_pick').hasClass('first')) {
            $('#presentation_container')
            .css({'display': 'inline-block','margin-left': $('#list_container').width()/2})
            .animate({
                marginLeft: 0
            }, 500);

            $('#list_container')
            .css({'display': 'inline-block','margin-left': -$(this).width()/2})
            .animate({
                marginLeft: 0
            }, 500);
            $('.pack_pick').removeClass('first')
        }
    }
    
    $("tr").hide(0);
    $("tr:first").show(100);
    $("#draft_container").show(500);
    $("button#start").on("click", function() {
        $("#info").hide();
        $("#hero, #gem").css('visibility', 'visible');
        $("#header1").html("Now drafting {{ hero_class }}")
        $("#header2").html("Choose a card ( <span id='count'>1</span> / 30 )")
        $("#pack_table").show();
        start_timer(0,pick_array);
    });

    $(".pack_pick").on("click", function() {
        if($.inArray($(this).attr('data-pick-number'), pick_numbers ) == -1) {
            pick_numbers.push($(this).attr('data-pick-number'))
            card_on_press($(this),pick_array);
        }
    });
})
</script>
{% endblock %}

{% block content %}
<div id="draft_container">
    <div id="presentation_container">
        <h2 class="arena_text" id="header1">New arena game</h2>
        <div id="hero">
            <div class="portrait"></div>
            <div class="frame"></div>
        </div>
        <h2 class="arena_text" id="header2">Game Rules</h2>
        <div id="gem"><span class="arena_text"></span></div>
        <div class="arena_text" id="info">
            <ul id="rules">
                <li>Like in a real arena draft, you get 3 cards to choose each turn (30 turns)</li>
                <li>Your goal is to pick the card with the highest value each turn</li>
                <li>You have 5 seconds each turn to make your decision</li>
                <li>Your total score is decided by your picks and total time used</li>
            </ul>
            <div class="start">
                Ready? Click start to begin!<br />
                <button class="arena_text" id="start">Start</button>
            </div>

        </div>
        <table id="pack_table">
        {% for pack in draft %}
            <tr class="pack_row">
                <td><img 
                    class="pack_pick first" 
                    data-pick-number={{ loop.index }} 
                    data-id="{{ pack[1]['card-id'] }}" 
                    data-name="{{ pack[1]['card-name'] }}" 
                    data-cost="{{ pack[1]['card-cost'] }}" 
                    data-class="{{ pack[1]['card-class'] }}" 
                    data-rarity="{{ pack[1]['card-rarity'] }}" 
                    src="http://hs.jwd.me/static/cards/{{ pack[1]['card-id'] }}.png">
                <td><img 
                    class="pack_pick first" 
                    data-pick-number={{ loop.index }} 
                    data-id="{{ pack[2]['card-id'] }}" 
                    data-name="{{ pack[2]['card-name'] }}" 
                    data-cost="{{ pack[2]['card-cost'] }}" 
                    data-class="{{ pack[2]['card-class'] }}" 
                    data-rarity="{{ pack[2]['card-rarity'] }}" 
                    src="http://hs.jwd.me/static/cards/{{ pack[2]['card-id'] }}.png">
                <td><img 
                    class="pack_pick first" 
                    data-pick-number={{ loop.index }} 
                    data-id="{{ pack[3]['card-id'] }}" 
                    data-name="{{ pack[3]['card-name'] }}" 
                    data-cost="{{ pack[3]['card-cost'] }}" 
                    data-class="{{ pack[3]['card-class'] }}" 
                    data-rarity="{{ pack[3]['card-rarity'] }}" 
                    src="http://hs.jwd.me/static/cards/{{ pack[3]['card-id'] }}.png">
            </tr>
        {% endfor %}
        </table>
    </div>
    <div id="list_container">
        <ul class="arena_text" id="draft_list"></ul>
    </div>
 </div>
{% endblock %}