{% extends "base.html" %}
{% block content %}
Misc:
<ul>
<li><a href="/set">Current working set</a></li>
</ul>
Class Card Rankings:
<ul>
<li><a href="/classrank/druid">druid</a></li>
<li><a href="/classrank/hunter">hunter</a></li>
<li><a href="/classrank/mage">mage</a></li>
<li><a href="/classrank/paladin">paladin</a></li>
<li><a href="/classrank/priest">priest</a></li>
<li><a href="/classrank/rogue">rogue</a></li>
<li><a href="/classrank/shaman">shaman</a></li>
<li><a href="/classrank/warlock">warlock</a></li>
<li><a href="/classrank/warrior">warrior</a></li>
</ul>
{% endblock %}
