{% extends "base.html" %}
{% block style %}
<style>
#hero,
#gem {
    visibility: hidden;
}

.arena_text#info {
    width: 600px;
    font-size: 1em;
    text-align: center;
}

#welcome p {
    padding: 10px 0;
    font-size: 1.2em;
}

button#start {
    width: 300px;
    margin-top: 10px;
}
</style>
{% endblock %}
{% block script %}

{% endblock %}
{% block content %}

<div id="presentation_container">
    <h2 class="arena_text" id="header1">WELCOME</h2>
    <div id="hero">
        <div class="portrait"></div>
        <div class="frame"></div>
    </div>
    <h2 class="arena_text" id="header2">Disclaimer</h2>
    <div class="arena_text" id="info">
        <span id="welcome">
            <p>This game does not perfectly simulate a real draft<br />(But it's pretty close!)</p>
            <p>Mana curve and synergies will not be taken into consideration when scoring your choices</p>
            <p>Good luck, have fun!</p>
            <a href="draft"><button class="arena_text" id="start">Go to Game</button></a>
        </span>

    </div>
</div>
{% endblock %}
